body{
margin:0em;
}
.cover{
    height:400px ;
background-image:url("C:/Users/ALUMNOS/Downloads/Sitio_Web-main/sitio_web/img/portadarayo.jpg");
color: white;
background-size: cover;
background-position: center;
background-color: rgb(0,0,0,0.5);
background-blend-mode: darken;

}
.cover-small{
height: 200px;
background-blend-mode: normal;


}
