body{
margin:0em;
}
.cover{
    height:400px ;
background-image:url("../img/portadarayo.jpg");
color: white;
background-size: cover;
background-position: center;
background-color: rgba(0, 0, 0, 0.26);
background-blend-mode: darken;

}
.cover-small{
height: 200px;
background-blend-mode: normal;


}
.card{
    box-shadow: 0 4px 6px- 1px rgba(0, 0, 0, 0.1) 0 2px 4px -1px rgba(0, 0, 0, 0.6);
}
.card-title {
    font-family: "dancing Script", cursive;
    min-height: 3rem;

}
.card-text{
    font-family: "Barlow condensed",sans-serif;
    min-height: 7rem;
}
h1{
    font-family: 'Dancing Script', cursive;
}
#img4{

    max-width: 100%;

    height: auto;
}
.product-stripe{
    overflow-x: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.stripe-container{
    display: flex;
}
.stripe-container .card{
    width: 300px;
    flex-shrink: 0;
    margin-right: 1rem;
}